DB_NAME=payment_db
DB_USERNAME=admin
DB_PASSWORD=change_me
DB_PORT=27018
DB_HOST=localhost
DB_CONTAINER_NAME=payment-db
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_PORT=9092
KAFKA_CONTAINER_NAME=payment-kafka
PAYMENT_EVENTS_TOPIC=payment-events