DB_NAME=payment_db
DB_USERNAME=admin
DB_PASSWORD=admin
DB_PORT=27018
DB_CONTAINER_NAME=payment-db

KAFKA_PORT=9092
KAFKA_CONTAINER_NAME=payment-kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
PAYMENT_EVENTS_TOPIC=payment-events

PAYMENT_SERVICE_CONTAINER_NAME=payment-service
PAYMENT_SERVICE_PORT=8085

RANDOM_ORG_BASE_URL=https://www.random.org
RANDOM_ORG_TIMEOUT_MS=5000